/* ============================================
   FONTS
   
   Headings/Titles/Site Name: IM Fell Great Primer
   Body Text: Libertinus Serif
   Dates/Metadata: Libertinus Serif
   
   Font: IM Fell Great Primer
   License: SIL Open Font License, Version 1.1 (see static/fonts/LICENSE_IM_Fell.txt)
   
   Font: Libertinus Serif
   License: SIL Open Font License, Version 1.1 (see static/fonts/LICENSE_Libertinus.txt)
   ============================================ */

/* IM Fell Great Primer */
@font-face {
   font-family: 'IM Fell Great Primer';
   src: url('../fonts/IMFellGreatPrimer-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'IM Fell Great Primer';
   src: url('../fonts/IMFellGreatPrimer-Italic.woff2') format('woff2');
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Libertinus Serif */
@font-face {
   font-family: 'Libertinus Serif';
   src: url('../fonts/LibertinusSerif-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Libertinus Serif';
   src: url('../fonts/LibertinusSerif-Italic.woff2') format('woff2');
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Libertinus Serif';
   src: url('../fonts/LibertinusSerif-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Libertinus Serif';
   src: url('../fonts/LibertinusSerif-BoldItalic.woff2') format('woff2');
   font-weight: 700;
   font-style: italic;
   font-display: swap;
}